<!-- Footer -->
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </nav>

<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
   <p id="footer"><h6 class="display-6 navbar-text">&copy;&nbsp; Copyright Andre Cruz - COMP 229. All Rights Reserved. 2020</h6></p>
  </nav>
</footer>    
  <!-- Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>