<!-- Main Content-->
<h3 id="mission">
    My mission here in Canada is to successfully graduate in Software Engineering Technician, and hopefully get my PGWP to get a great job in this demanding area
</h3>