<figure id="me">
    <img src="/Assets/images/me.jpeg"  width="282" height="300">
    <figcaption>Andre Mariano Sousa Cruz </figcaption>
</figure>
<h3 id="about">
    My name is Andre Cruz, I am a 21 years old and brazilian. I'd say my best quality is that I am a fast learner. This is my first graduation
    in IT area, but I wish to study it more in the future.
</h3>
<h5>
    <p id="resume">
        <a href="/Assets/images/Resume.pdf">My resume</a>
    </p>
</h5>









