<h3>
    <ul>
        <li>Nowadays I only have one single project to achieve, that is graduating. After that, I have a few goals in mind
            like learning a 4th language.
            <p></p>
            <figure id="english">
                <img src="/Assets/images/english.jpeg"  width="280" height="254">
                <h6><figcaption>My English classmates </figcaption></h6>
            </figure>
        
        
        
        <li>My last project was in 2019, when I first came to Canada and started studying English. My main goal with
            this project was to get enough score to begin my studies in Centennial.
            
            
        
    </ul>
</h3>