<h3>
    Services:
    <p></p>
    <ol>
        <img id="pg" src="/Assets/images/pg.jpg" width="300" height="300">
        <li> General Programming
            <ul>
                <li>C#
                <li>Java
                <li>Python
                <li>JavaScript
            </ul>
            <p></p>
        <li> Application Development  
            <ul>
                <li>Browser
                <li>Mobile
            </ul>
    </ol>
    
</h3> 